/*----------------------- global variables-------------------------- */
:root {
  --royal-blue: #1a7ce4;
  --light-blue: #15d4d1;
}

/* ------------------------page header and logo -------------------------*/
.logo-header, .logo-text {
  color:var(--royal-blue);
  margin: 0;
}

.logo-header {
  font-size: 2rem;
}

.logo-text {
  letter-spacing: .25rem;
}

.logo {
  margin-bottom: -38px;
  margin-top: -15px;
  padding: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------------Home page------------------------- */
.get-started-button:hover {
  box-shadow:  0px 0px 10px 12px rgba(255,255,255,0.3) !important;
  transition: ease-in-out .33s;
}

.bullet-cards {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 400px;
}

/* login and signup card */
.login-button, .sign-up-button {
  background-size: 150% !important;
  background-position: top 20% left !important;
}

.login-button:hover, .sign-up-button:hover {
  background-position: bottom right 10% !important;
  transition: .32s ease-in-out;
  box-shadow: 0px 0px 7px 5px rgba(81, 189, 231, 0.534) !important;
}

.sign-up-link:hover {
  color: var(--light-blue) !important;
  transition: .32s;
}

/*-------------------------- add and edit product card ---------------------*/
.add-product-button, .edit-product-button {
  background-size: 150% !important;
  background-position: top 20% left !important;
}

.add-product-button:hover, .edit-product-button:hover {
  background-position: bottom right 10% !important;
  transition: .32s ease-in-out;
  box-shadow: 0px 0px 7px 5px rgba(81, 189, 231, 0.534) !important;
}
/* -------------------------product inventory table----------------------------- */
.MuiDataGrid-columnHeaders > .MuiDataGrid-columnHeader:last-child .MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiMenuItem-root {
  font-family: 'Montserrat', serif !important;
}

.MuiDataGrid-iconButtonContainer button {
  color: #fff !important;
}

.MuiDataGrid-menuIcon button {
  color: #fff !important;
  width: 100% !important;
  margin-right: 10px !important;
}

.MuiDataGrid-sortIcon {
  opacity: 1 !important;
}
/* ----------------------------media queries--------------------------- */
@media screen and (max-width: 990px) {
  .bullet-cards {
    height: 300px;
  }
}

@media screen and (max-width: 760px) {
  .bullet-cards {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 560px) {
  .bullet-cards {
    flex-direction: column;
    padding: .05rem;
  }
  .why-nimbus-header {
    font-size: 1.5rem !important;
  }
}